In [1]:
import pandas as pd

In [2]:
data_set = pd.read_csv('dataset_lab3.csv', header=None)

In [3]:
data_set.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21.0,27.0,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21.0,27.0,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19.0,26.0,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.80,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24.0,30.0,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.40,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18.0,22.0,17450

In [4]:
data_set.tail()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
267,-1,95,volvo,gas,std,four,sedan,rwd,front,109.10,...,141.0,mpfi,3.78,3.15,9.5,114,5400,23.0,28.0,16845
268,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.10,...,141.0,mpfi,3.78,3.15,8.7,160,5300,19.0,25.0,19045
269,-1,95,volvo,gas,std,four,sedan,rwd,front,109.10,...,173.0,mpfi,3.58,2.87,8.8,134,5500,18.0,23.0,21485
270,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.10,...,145.0,idi,3.01,3.40,23.0,106,4800,26.0,27.0,22470
271,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.10,...,141.0,mpfi,3.78,3.15,9.5,114,5400,19.0,25.0,22625

In [5]:
with open('feature_names_lab3.txt', 'r') as file:
    feature_names = file.read().splitlines()

data_set.columns = feature_names

data_set.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21.0,27.0,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21.0,27.0,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19.0,26.0,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.80,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24.0,30.0,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.40,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18.0,22.0,17450

In [6]:
data_set['normalized-losses']

0        ?
1        ?
2        ?
3      164
4      164
      ...
267     95
268     95
269     95
270     95
271     95
Name: normalized-losses, Length: 272, dtype: object

In [7]:
data_set = pd.read_csv('dataset_lab3.csv', na_values='?')
data_set.columns = feature_names
data_set['normalized-losses'] = pd.to_numeric(data_set['normalized-losses'], errors='coerce')
data_set.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.80,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.40,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.80,...,136.0,mpfi,3.19,3.40,8.5,110.0,5500.0,19.0,25.0,15250.0

In [8]:
# print toal number of values  min , max and standard deviation for normalized-losses
print(data_set['normalized-losses'].count())
print(data_set['normalized-losses'].min())
print(data_set['normalized-losses'].max())
print(data_set['normalized-losses'].std())

164
65.0
256.0
35.442167530553256

In [9]:
# Find the 25% and 75% percentile â€“ you can use the function .quantile()
print(data_set['normalized-losses'].quantile(0.25))
print(data_set['normalized-losses'].quantile(0.75))
data_set['normalized-losses'].describe()

94.0
150.0

count    164.000000
mean     122.000000
std       35.442168
min       65.000000
25%       94.000000
50%      115.000000
75%      150.000000
max      256.000000
Name: normalized-losses, dtype: float64

In [10]:
# For the feature make print the total number of values and the list of unique values.You can use .unique() function.
print(data_set['make'].count())
print(data_set['make'].unique())

206
['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' nan ' dtype: object'
 'front' 'honda' 'isuzu' 'jaguar' 'mazda' 'mercedes-benz' 'mercury'
 'mitsubishi' 'nissan' 'peugot' 'plymouth' 'porsche' 'renault' 'saab'
 'subaru' 'toyota' 'volkswagen' 'volvo']

In [11]:
# explore the mode() function to get the name and value of the mode
print(data_set['make'].mode())

0    toyota
Name: make, dtype: object

In [12]:
# Explore the value_counts() function to get the mode and second mode
print(data_set['make'].value_counts().head(2))

make
toyota    32
nissan    18
Name: count, dtype: int64

In [13]:

# Create the report row for normalized-losses as shown above. The values should be calculated using the functions we looked at today, not hard-coded.

featrue = 'normalized-losses'

report_row = {
    'feature': featrue,
    'count': data_set[featrue].count(),
    'min': data_set[featrue].min(),
    'max': data_set[featrue].max(),
    'std': data_set[featrue].std(),
    '25%': data_set[featrue].quantile(0.25),
    '75%': data_set[featrue].quantile(0.75),
    'mode': data_set[featrue].mode().values[0],
    'mode_count': data_set[featrue].value_counts().max()
}


report = pd.DataFrame([report_row])

report.reset_index(drop=True, inplace=True)

report.columns

report

,feature,count,min,max,std,25%,75%,mode,mode_count
0,normalized-losses,164,65.0,256.0,35.442168,94.0,150.0,161.0,11

In [43]:

all_rows = []


report = pd.DataFrame(columns=['feature', 'count', 'min', 'max', 'std', '25%', '75%'])

for feature in data_set.columns:
    if pd.api.types.is_numeric_dtype(data_set[feature]):

        stats = {
            'Feature': feature,
            'Count': data_set[feature].count(),
            'missing_values': data_set[feature].isnull().sum(),
            'Min': data_set[feature].min(),
            'Max': data_set[feature].max(),
            'Std': data_set[feature].std(),
            '25%': data_set[feature].quantile(0.25),
            '75%': data_set[feature].quantile(0.75)
        }
        all_rows.append(stats)

report = pd.DataFrame(all_rows)


style_report = report.style.hide(axis="index")


html = style_report.to_html()

html

from IPython.core.display import HTML
display(HTML(html))